.idea

# CMake
cmake-build-debug/
cmake-build-release/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
CMakeFiles/

# File-based project format
*.iws

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# Project specific
hiclures*
rw*
*.dat
tests_dir/
Makefile
